.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    gap: 1%;
}

.text_content {
    color: var(--color-white);
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}